{
  "semi": true,                   
  "tabWidth": 4,                  
  "useTabs": false,               
  "bracketSpacing": true,         
  "arrowParens": "always",        
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all"
}
